<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <div class="container">
        <h1>WorkoutMaster</h1>
        <nav>
            <ul>
                <li class="nav-item"><a href="/home">Home</a></li>
                <li class="dropdown nav-item">
                    <a href="#">Exercícios</a>
                    <div class="dropdown-content">
                        <a id="dropdown-text" href="#">Peito</a>
                        <a id="dropdown-text" href="#">Costas</a>
                        <a id="dropdown-text" href="#">Ombros</a>
                        <a id="dropdown-text" href="#">Bíceps</a>
                        <a id="dropdown-text" href="#">Tríceps</a>
                        <a id="dropdown-text" href="#">Pernas</a>
                        <a id="dropdown-text" href="#">Gerais</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#">Alongamentos</a>
                    <div class="dropdown-content">
                        <a id="dropdown-text" href="#">Peito</a>
                        <a id="dropdown-text" href="#">Costas</a>
                        <a id="dropdown-text" href="#">Ombros</a>
                        <a id="dropdown-text" href="#">Bíceps</a>
                        <a id="dropdown-text" href="#">Tríceps</a>
                        <a id="dropdown-text" href="#">Pernas</a>
                        <a id="dropdown-text" href="#">Gerais</a>
                    </div>
                </li>
                <li class="nav-item"><a href="/myRoutine">Meu Treino</a></li>
                <li class="nav-item"><a href="/help">Ajuda</a></li>
                <li class="login nav-item">
                    <a href="/profile">Perfil</a>
                    <img src="/images/foto_perfil.png" alt="Imagem do usuário" class="user-image circle-image">
                </li>
            </ul>
        </nav>
    </div>
</head>

<body>