<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <div class="container">
        <h1>WorkoutMaster</h1>
        <nav>
            <ul>
                <li class="nav-item"><a href="/home">Home <i class="fa-solid fa-house"></i></a></li>
                <li class="dropdown nav-item">
                    <a href="/exercises">Exercícios</a>
                </li>
                <li class="dropdown nav-item">
                    <a href="/stretches">Alongamentos</a>
                </li>
                <li class="nav-item"><a href="/myRoutine">Meu Treino <i class="fa-solid fa-dumbbell"></i></a></li>
                <li class="nav-item"><a href="/help">Ajuda <i class="fa-solid fa-comment-dots"></i></a></li>
                <li class="login nav-item">
                    <a href="/profile">Perfil</a>
                    <% if (currentUser && currentUser.profile_image) { %>
                        <img src="<%= currentUser.profile_image %>" alt="Imagem do usuário" class="user-image circle-image">
                    <% } else { %>
                        <img src="/path/to/default/image.png" alt="Imagem do usuário" class="user-image circle-image">
                    <% } %>
                </li>
            </ul>
        </nav>
    </div>
</head>

<body>
