<%- include("./partials/header.ejs"); -%>

<link rel="stylesheet" href="css/home.css">

<section>

    <div><img src="./images/Designer-removebg-preview.png" alt=""></div>

</section>


<section>
    <h2  class="main-title">Sobre o WorkoutMaster Web</h2>
    <p class="text">O WorkoutMaster Web é um site de treinamento completo projetado para ajudá-lo a alcançar seus objetivos de condicionamento físico e saúde.</p>
</section>
<section>
    <h2 class="main-title">Nossos Objetivos</h2>
    <p class="text">Nosso principal objetivo é fornecer aos usuários uma plataforma intuitiva e personalizável para criar, personalizar e seguir suas rotinas de exercícios e alongamentos.</p>
</section>
<section>
    <h2 class="main-title">O que oferecemos</h2>
    <p class="text">Oferecemos uma ampla gama de recursos, incluindo:</p>
    <ul class="text">
        <li>Personalização de rotinas de treino</li>
        <li>Navegação fácil através de diferentes tipos de exercícios e alongamentos</li>
        <li>Chat Bot de Ajuda para responder às suas perguntas sobre treinamento</li>
        <li>Administração completa do conteúdo do site para os administradores</li>
    </ul>
</section>

<%- include("./partials/footer.ejs"); -%>