<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir Senha</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="container-login text">
    <h2 class="main-title">Redefinir Senha</h2>
    <form id="batata" action="/reset-password" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="Insira seu email">
      </div>
      <div class="form-group">
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" name="newPassword" required placeholder="Insira sua nova senha">
      </div>
      <button type="submit">Redefinir Senha</button>
    </form>
    <p><a href="/">Voltar para o login</a></p>
  </div>

  <script>
    document.getElementById("batata").addEventListener("submit", function(event){
      event.preventDefault()
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/reset-password', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
        newPassword: document.getElementById("newPassword").value,
        email:       document.getElementById("email").value
      }));
      
      xhr.onload = function() {
        window.location = '/'
      };
    })
  </script>

</body>
</html>
